<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Blog</a></li>
                {% if user.is_authenticated %}

                <li>{{user.username}}</li>
                <li><a href="{% url 'show' %}">Смотреть мои посты</a></li>
                <li><a href="{% url 'new' %}">+Новый пост</a></li>
                <li><a href="{% url 'logout' %}">Выход</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Войти</a></li>
                <li><a href="{% url 'signup' %}">Регистрация</a></li>
            {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block section %}
        {% endblock section %}
    </main>
</body>
</html>